.field-error {
    border: 1px solid red;
}

.player {
    width: 35%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scores {
    width: 100%;
}


button {
    border: none;
    color: black;
    background-color: dodgerblue;
    transition: .3s ease-in-out;
}

button:hover {
    transform: scale(.9);
    background-color: rgb(48, 46, 46);
    color: dodgerblue;
    border-radius: 5px;
}